body {
    display: block;
    margin: 2cm;        
    background: #fcfcfe;
    color: #404040;
  }
  * {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  h1, h2 {
    font-variant: all-small-caps
  }
  .centered {
    text-align: center;
  }